@use "var";
* {margin:0; padding:0;border:0;}
body {
    font-family: var.$Heebo;
    
    background: url(images/back-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.contentHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.homebar, .sideBar, .card-holder, .titleHolder {
    border: 2px solid black;
}

/* nav bar*/

/* main card*/

/* side cards*/
.card-holder {
    display: inline-flex;
}
.cards {
    max-width: 400px;
    height: 300px;
    border:var.$cardB;
    border-radius: var.$cardR;
    padding: 60px;
}
#card1 {
    color: white;
    width: 400px;
    .bottom-tag {
        color: #7B92A8;
    }
}
#card2 {
    background-image: url(/images/lime.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card3 {
    background-color: #B9F3FB;
    width: 400px;
}