@use "var";

body {
    font-family: var.$Heebo;
    margin:0; padding:0;border:0;
    background: url(images/back-color.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav bar*/

/* main card*/

/* side cards*/
.card-holder {
    display: inline-flex;
}
.cards {
    width: 400px;
    height: 300px;
    border:var.$cardB;
    border-radius: var.$cardR;
}