@use "var";

@mixin invert-GreenB($back-color,$color,$hov-color,$hov-back-color) {
    background-color: $back-color;
    color: $color;
    height: fit-content;
    border-radius: 50px;
    font-size: .75rem;
    position: relative;
    z-index: 1;
    &:hover{
        color: $hov-color;
        background-color: $hov-back-color;
    }
}

@mixin invest-create($back-color){
    background-color: $back-color;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
}