$Heebo: 'Heebo';
$Raleway: 'Raleway';
$cardB: 1px solid black;
$cardR: 10px;
$maxWidth: 400px;
$gray: #7B92A8;
$backColor: #194166;

%mpdZero {
    margin: 0;
    padding: 0;
    border: 0;
}

%jusFlex {
    display: flex;
    justify-content: center;
}

%aliFlex {
    display: flex;
    align-content: center;
}

%greenButton {
    background-color: #68FFB6;
    height: fit-content;
    border-radius: 50px;
    font-size: .75rem;
    position: relative;
    z-index: 1;

    &:hover {
        color: #68FFB6;
        background-color: black;
    }
}

%whitebutton {
    cursor: pointer;
    color: white;
    background: none;
    padding: 10px 25px;
    margin: 5px 3px;
    border: 1px white solid;
    border-radius: 50px;
    display: inline-block;

    &:hover {
        color: #183f65;
        background-color: white;
    }
}