@use "var";

* {
    @extend %mpdZero;
}

body {
    font-family: var.$Heebo;
    // background: url(/images/back-color.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: black;
    display: flex;
    // height: 100%;

}


.contentHolder {
    display: flex;
    flex-direction: column;
    width: 95%;

}

.homebar,.sideBar, .mainCard, .cards{
    border: var.$cardB;
    border-radius: var.$cardR;
    background-color: var.$backColor;
}

// navs

.sideBar{
    width: 5%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 2% 0%;
    // min-height: 100vh;
    // max-height: min-content;
    
    .menuIcon{
        flex-grow: 1;
        width: fit-content;
    }
    .pageCount{
        flex-grow: 2;
    }

    .trademark{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 50%;
        border: 0;
        height: 80px;
        width: 100px;
        transform: rotate(-90deg);
        
        span{
            display: inline-block;
            width: 100px;
            height: 80px;
        }
    }
}

.homebar{
    padding: 0% 5%;
    justify-content: space-around;
    @extend %aliFlex;
    gap: 5%;
    .logo{
        flex-grow: 3;
        color: white;
        padding: 15px 0;
    }

    nav{
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2%;
        flex-grow: 2;

        a{
            text-decoration: none;
            color: white;
             
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .webConnect{
        flex-grow: 1;
        .connectWal{
            @extend %whitebutton
        }
    }
    
}

.card-holder {
    display: flex;
}

.card-holder-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    
    
}

.cards {
    border:var.$cardB;
    border-radius: var.$cardR;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-size: 27px;
    width: 30%;
    color: white;
    width: 99%;
    flex-grow: 1;
}

.cards > img {
    width: auto;
    
}

