@use "var";

* {
    @extend %mpdZero;
}

body {
    font-family: var.$Heebo;
    background: url(/images/back-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // height: max-content;
}


.contentHolder {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.homebar,.sideBar, .mainCard{
    border: var.$cardB;
    border-radius: var.$cardR;
}

// navs

.sideBar{
    width: 5%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 2% 0%;
    
    .menuIcon{
        flex-grow: 1;
        width: fit-content;
    }
    .pageCount{
        flex-grow: 2;
    }

    .trademark{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 50%;
        border: 0;
        height: 80px;
        width: 100px;
        transform: rotate(-90deg);
        
        span{
            display: inline-block;
            width: 100px;
            height: 80px;
        }
    }
}

.homebar{
    padding: 0% 5%;
    justify-content: space-around;
    @extend %aliFlex;
    gap: 5%;
    .logo{
        flex-grow: 3;
        color: white;
        padding: 15px 0;
    }

    nav{
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2%;
        flex-grow: 2;

        a{
            text-decoration: none;
            color: white;
             
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .webConnect{
        flex-grow: 1;
        .connectWal{
            @extend %whitebutton
        }
    }
    
}



.card-holder {
    display: inline-flex;
    width: 100%;
    
    
}

.cards {
    border:var.$cardB;
    border-radius: var.$cardR;
    padding: 75px;
    font-size: 27px;
    width: 33.33%;
    color: white;
    // padding: auto 200px;
    position: relative;
    
}

#card12 {
    box-shadow: 0 0 0 3px black;
    position: relative;
    z-index: -2;

}

