@use "var";
@import "mixin";

* {
    @extend %mpdZero;
}

body {
    font-family: var.$Heebo;
    background-color: black;
    display: flex;
}

.contentHolder {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.homebar,
.sideBar,
.mainCard,
#card1 {
    @include borders;
}

//nav bar

.sideBar {
    width: 3%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 4.3vh 0%;
    
    
    .menuIcon{
        flex-grow: 1;
        width: fit-content;
    }

    .pageCount {
        flex-grow: 2;
    }

    .trademark {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 100%;
        padding-left: 50%;
        border: 0;
        height: 80px;
        width: 100px;
        transform: rotate(-90deg);

        span {
            display: inline-block;
            width: 100px;
            height: 80px;
        }
    }
}

.homebar {
    padding: 0% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;

    .logo {
        flex-grow: 3;
        padding: 15px 0;

        a {
            color: white;
            text-decoration: none;
            padding: 15px 0;
            font-size: 26pt;
        }
    }

    nav {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 4.5%;
        flex-grow: 2;

        a {
            text-decoration: none;
            color: white;
            font-size: 15pt;
             
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .webConnect {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 3%;
        .connectWal{
            @extend %whitebutton
        }
    }

}

//main card

.mainCard {
    @extend %jusFlex;
}

.titleHolder {
    margin: 60px 0 100px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
}

.titleHolder>button {
    @extend %greenButton;
    position: absolute;
    padding: 9px 20px;
    top: 18px;
    right: 50px;
}

.titleHolder>img {
    width: 380px;
    position: relative;
    right: 20px;
}

.titleHolderBox {
    @extend %jusFlex;
    flex-direction: column;
    width: 800px;
}

.titleHolderBox h1 {
    font-size: 5em;
    line-height: 1.2em;
    width: max-content;
    color: white;
    transform: scale(2, 1);
    transform-origin: left;
    position: relative;
    left: 20px
}

.titleHolderBox button {
    @extend %greenButton;
    transform: scale(1, 2);
    font-size: .37rem;
    position: relative;
    bottom: 27px;
    padding: 12px 18px;
}

.titleHolderBox img {
    width: 290px;
    position: relative;
    left: 10px;
    bottom: -25px;
}

// bottom cards

.card-holder {
    display: inline-flex;
    width: 100%;
}

.cards {
    border: var.$cardB;
    border-radius: var.$cardR;
    padding: 75px;
    font-size: 27px;
}

#card1 {
    position: relative;
    color: white;
    width: 33.33%;
    padding: auto 200px;

    .hold>button {
        @extend %whitebutton;
        font-size: 27px;
    }
}

.bottom-tag {
    color: var.$gray;
    position: absolute;
    bottom: 0;
    padding-bottom: inherit;
}

#card2 {
    position: relative;
    background-image: url(/images/lime.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.33%;

    .arrow {
        position: absolute;
        bottom: 0;
        padding-bottom: inherit;
        font-size: 18px;
        @extend %aliFlex;

        .move {
            margin-right: 40px;
        }

        .icon-image {
            @extend %aliFlex;

            img {
                width: 225px;
                height: auto;
            }
        }
    }
}

#card3 {
    background-color: #B9F3FB;
    width: 33.33%;

    .gray {
        color: var.$gray;
    }

    img {
        width: 100%;
        margin-top: 25px;
    }
}