.titleHolder > button, .titleHolderBox button {
  background-color: #68FFB6;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px;
  font-size: 0.75rem;
  position: relative;
  border: 1px #68FFB6 solid;
}
.titleHolder > button:hover, .titleHolderBox button:hover {
  color: #68FFB6;
  background-color: black;
}

.homebar .webConnect .connectWal, #card1 .hold > button {
  cursor: pointer;
  color: white;
  background: none;
  padding: 10px 25px;
  margin: 5px 3px;
  border: 1px white solid;
  border-radius: 50px;
  display: inline-block;
}
.homebar .webConnect .connectWal:hover, #card1 .hold > button:hover {
  color: #183f65;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Heebo";
  background: url(/images/back-color.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.sideBar {
  width: 5%;
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 2% 0%;
}
.sideBar .menuIcon {
  flex-grow: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.sideBar .pageCount {
  flex-grow: 2;
}
.sideBar .trademark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 50%;
  border: 0;
  height: 80px;
  width: 100px;
  transform: rotate(-90deg);
}
.sideBar .trademark span {
  display: inline-block;
  width: 100px;
  height: 80px;
}

.homebar {
  display: flex;
  padding: 0% 5%;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}
.homebar .logo {
  flex-grow: 3;
  color: white;
}
.homebar nav {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2%;
  flex-grow: 2;
}
.homebar nav a {
  text-decoration: none;
  color: white;
}
.homebar nav a:hover {
  text-decoration: underline;
}
.homebar .webConnect {
  flex-grow: 1;
}
.contentHolder {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.homebar, .sideBar, .mainCard {
  border: 2px solid black;
}

/* nav bar*/
/* main card*/
.titleHolder {
  margin: 100px 50px 250px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.titleHolder > img {
  position: absolute;
  width: 370px;
  top: -40px;
  right: 20px;
  z-index: -1;
}

.titleHolderBox {
  width: 60%;
  display: flex;
  justify-content: center;
  width: 800px;
}

.titleHolderBox img {
  position: absolute;
  bottom: -130px;
  left: -5px;
  width: 270px;
  z-index: -1;
}

.titleHolderBox h1 {
  font-size: 4.3em;
  line-height: 1.2em;
  color: white;
  transform: scale(2, 1);
  width: -moz-fit-content;
  width: fit-content;
}

.titleHolder > button {
  padding: 10px 20px;
  bottom: 10px;
  right: 20px;
}

.titleHolderBox button {
  transform: scale(1, 2);
  font-size: 0.37rem;
  position: relative;
  bottom: 27px;
  padding: 11px 18px;
}

/* side cards*/
.card-holder {
  display: inline-flex;
  width: 100%;
}

.cards {
  border: 2px solid black;
  border-radius: 10px;
  padding: 75px;
  font-size: 27px;
}

#card1 {
  position: relative;
  color: white;
  width: 33.33%;
  padding: auto 200px;
}
#card1 .hold > button {
  font-size: 27px;
}

.bottom-tag {
  color: #7B92A8;
  position: absolute;
  bottom: 0;
  padding-bottom: inherit;
}

#card2 {
  background-image: url(/images/lime.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.33%;
}

#card3 {
  background-color: #B9F3FB;
  width: 33.33%;
}/*# sourceMappingURL=style.css.map */