* {
  margin: 0;
  padding: 0;
  border: 0;
}

.mainCard, .titleHolderBox {
  display: flex;
  justify-content: center;
}

#card2 .arrow, #card2 .arrow .icon-image {
  display: flex;
  align-content: center;
}

.titleHolder > button, .titleHolderBox button {
  background-color: #68FFB6;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  font-size: 0.75rem;
  position: relative;
  z-index: 1;
}
.titleHolder > button:hover, .titleHolderBox button:hover {
  color: #68FFB6;
  background-color: black;
}

.homebar .webConnect .connectWal, #card1 .hold > button {
  cursor: pointer;
  color: white;
  background: none;
  padding: 10px 25px;
  margin: 5px 3px;
  border: 1px white solid;
  border-radius: 50px;
  display: inline-block;
}
.homebar .webConnect .connectWal:hover, #card1 .hold > button:hover {
  color: #183f65;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.titleHolderBox, .mainCard {
  display: flex;
  justify-content: center;
}

#card2 .arrow .icon-image, #card2 .arrow {
  display: flex;
  align-content: center;
}

.titleHolderBox button, .titleHolder > button {
  background-color: #68FFB6;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  font-size: 0.75rem;
  position: relative;
  z-index: 1;
}

.titleHolderBox button:hover, .titleHolder > button:hover {
  color: #68FFB6;
  background-color: black;
}

#card1 .hold > button, .homebar .webConnect .connectWal {
  cursor: pointer;
  color: white;
  background: none;
  padding: 10px 25px;
  margin: 5px 3px;
  border: 1px white solid;
  border-radius: 50px;
  display: inline-block;
}

#card1 .hold > button:hover, .homebar .webConnect .connectWal:hover {
  color: #183f65;
  background-color: white;
}

body {
  font-family: "Heebo";
  background-color: black;
  display: flex;
}

.contentHolder {
  display: flex;
  flex-direction: column;
  width: 97%;
}

.homebar,
.sideBar,
.mainCard,
#card1 {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #194166;
}

.sideBar {
  width: 3%;
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 4.3vh 0%;
}
.sideBar .menuIcon {
  flex-grow: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.sideBar .pageCount {
  flex-grow: 2;
}
.sideBar .trademark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 100%;
  padding-left: 50%;
  border: 0;
  height: 80px;
  width: 100px;
  transform: rotate(-90deg);
}
.sideBar .trademark span {
  display: inline-block;
  width: 100px;
  height: 80px;
}

.homebar {
  padding: 0% 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}
.homebar .logo {
  flex-grow: 3;
  padding: 15px 0;
}
.homebar .logo a {
  color: white;
  text-decoration: none;
  padding: 15px 0;
  font-size: 26pt;
}
.homebar nav {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4.5%;
  flex-grow: 2;
}
.homebar nav a {
  text-decoration: none;
  color: white;
  font-size: 15pt;
}
.homebar nav a:hover {
  text-decoration: underline;
}
.homebar .webConnect {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
.homebar .webConnect .webIcon {
  width: 20px;
  height: 24px;
}

.titleHolder {
  margin: 60px 0 100px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
}

.titleHolder > button {
  position: absolute;
  padding: 9px 20px;
  top: 18px;
  right: 50px;
}

.titleHolder > img {
  width: 380px;
  position: relative;
  right: 20px;
}

.titleHolderBox {
  flex-direction: column;
  width: 800px;
}

.titleHolderBox h1 {
  font-size: 5em;
  line-height: 1.2em;
  width: -moz-max-content;
  width: max-content;
  color: white;
  transform: scale(2, 1);
  transform-origin: left;
  position: relative;
  left: 20px;
}

.titleHolderBox button {
  transform: scale(1, 2);
  font-size: 0.37rem;
  position: relative;
  bottom: 27px;
  padding: 12px 18px;
}

.titleHolderBox img {
  width: 290px;
  position: relative;
  left: 10px;
  bottom: -25px;
}

.card-holder {
  display: inline-flex;
  width: 100%;
}

.cards {
  border: 1px solid black;
  border-radius: 10px;
  padding: 75px;
  font-size: 27px;
}

#card1 {
  position: relative;
  color: white;
  width: 33.33%;
  padding: auto 200px;
}
#card1 .hold > button {
  font-size: 27px;
}

.bottom-tag {
  color: #7B92A8;
  position: absolute;
  bottom: 0;
  padding-bottom: inherit;
}

#card2 {
  position: relative;
  background-image: url(/images/lime.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.33%;
}
#card2 .arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: inherit;
  font-size: 18px;
}
#card2 .arrow .move {
  margin-right: 25px;
}
#card2 .arrow .icon-image div {
  width: 100%;
  height: 100%;
}
#card2 .arrow .icon-image div img {
  height: 75px;
  width: 175px;
}

#card3 {
  background-color: #B9F3FB;
  width: 33.33%;
}
#card3 .gray {
  color: #7B92A8;
}
#card3 img {
  width: 100%;
  margin-top: 25px;
}/*# sourceMappingURL=style.css.map */